$bodycolor: #1d1d1d;
$elementTypeColor: #7a7a7a;
$highlightedText: aqua;
$purple: #ff99ff;
$mainFont: 'Tinos', serif;

body{
    background: $bodycolor;
    color: red;
}

*{
    box-sizing: border-box;
}

#automatedText {
    transition: 0.5s;
    color: $highlightedText;
    font-family: $mainFont;
    font-size: 5vw;
}

.elementType, #automatedText {
    display: inline;
}

.elementType {
    color: $elementTypeColor;
    font-family: 'Dancing Script', cursive;
}

#automatedTextContainer {
    text-align: center;
}

p.autoTypingParagraph {
    display: inline;
    animation-name: pulsing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backgroundTag {
    color: #292929;
    font-family: 'Dancing Script', cursive;
    font-size: 44vw;
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

@keyframes pulsing {
    from {
        color: $highlightedText;
        font-size: 4.9vw;
    }
    to {color: $purple}
}