$scssColor: #ff99ff;
$typescriptColor: #4d88ff;
$htmlColor: #ff751a;
$bootstrapColor: #9933ff;
$jqueryColor: #000066;
$cssColor: #3366ff;
$githubColor: #14141f;
$reactColor: #99e6ff;
$es6Color: #ffcc00;
$apiColor: #c2c2d6;
$jsonColor: #339966;

body {
    background-color: #454545;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.skills-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.skill {
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 0vw;
    max-width: fit-content;
    position: absolute;
    font-family: 'Oswald', sans-serif;
}

.typescript {
    top: 0;
    left: 0;
    color: $typescriptColor;
}

.html {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    top: 12%;
    left: 0;
    color: $htmlColor;
}

.bootstrap {
    top: 10%;
    left: 5%;
    color: $bootstrapColor;
}

.scss {
    top: 0;
    left: 22%;
    color: $scssColor;
}

.jquery {
    top: 20%;
    left: 5%;
    color: $jqueryColor;
}

.css {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    top: 30%;
    left: 4%;
    color: $cssColor;
}

.github {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    left: 0;
    top: 40%;
    color: $githubColor;
}

.react {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    top: 48%;
    left: 4%;
    color: $reactColor;
}

.es5-es6 {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    left: 8%;
    top: 32%;
    color: $es6Color;
}

.json {
    top: 0;
    left: 34%;
    color: $jsonColor;
}

.api {
    top: 10%;
    left: 25%;
    color: $apiColor;
}