body {
    background-color: rgb(37, 37, 37);
}

html {
    width: 100%;
    height: 100%;
}

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 1vw;
}

.farming-component {
    color: white;
    background-color: black;
    padding: 1vw;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    border: 1px solid lightgreen;
    border-radius: 1vw;
    box-shadow: 2px 2px 5px black;
}

input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
}

#plant-type-input {
    color: aquamarine;
}

#plant-growth-time-input {
    color:beige;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.plant-button {
    padding: 0.1em;
    outline: none;
    color: white;
}

button {
    margin: 0.2em;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.time {
    position: relative;
    top: 0;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.time-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.grid-item {
    text-align: center;
}

.time-title {
    color: lightgreen;
}

.item {
    border-bottom: 0.1vw solid lightgreen;
    margin-top: 2vw;
}

.myButton {
    position: fixed;
    right: 5%;
    color: rgb(248, 134, 134);
}

.clear-all-button {
    color: rgb(248, 134, 134);
    margin: 1vw;
    position: relative;
}